<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urlGetDrinks</key>
	<string>https://www.thecocktaildb.com/api/json/v1/1/filter.php</string>
	<key>urlGetIngredients</key>
	<string>https://www.thecocktaildb.com/api/json/v1/1/list.php</string>
</dict>
</plist>
